[alias]
	pmr = push -o merge_request.create -o merge_request.target=master

[includeIf "gitdir:~/dev/github.com/"]
	path = .gitconfig-github

[includeIf "gitdir:~/.dotfiles/"]
        path = .gitconfig-github

[includeIf "gitdir:~/dev/gitlab.com/"]
	path = .gitconfig-gitlab

[includeIf "gitdir:~/dev/gitlab.tmecosys.net/"]
	path = .gitconfig-vwk

[pull]
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

