[includeIf "gitdir:~/dev/github.com/"]
	path = .gitconfig-github

[includeIf "gitdir:~/.dotfiles/"]
        path = .gitconfig-github

[includeIf "gitdir:~/dev/gitlab.com/"]
	path = .gitconfig-gitlab

[includeIf "gitdir:~/dev/gitlab.tmecosys.net/"]
	path = .gitconfig-vwk

[includeIf "gitdir:~/dev/aws/"]
	path = .gitconfig-aws

[column]
	ui = auto

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[init]
	defaultBranch = main

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[push]
	autoSetupRemote = true
	followTags = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
